@font-face {
  font-family: "montserrat";
  src:
    local("montserratR"),
    url("../fonts/Montserrat/Montserrat-VariableFont_wght");
  font-weight: 400;
}
@font-face {
  font-family: "playfair";
  src:
    local("playfairM"),
    url("../fonts/Playfair/Playfair-VariableFont_opsz,wdth,wght.ttf");
  font-weight: 400;
}