@use './scss_modules/_colors.scss' as colors;
.header {
  color: #fff;
  width: 100%;
  position: relative;
  z-index: 5;
}

.header__container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo_text {
  font-size: 42px;
  font-family: montserrat;
  font-weight: 400;
  color: colors.$ice-blue;
}

/* ───────── Burger ───────── */

.burger {
  cursor: pointer;
  width: 60px;
  height: 30px;
  position: relative;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #fff;
  left: 0;
}

.burger::before { top: 0; }
.burger::after { bottom: 0; }

.burger__decor {
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(255,255,255,0.6);
  top: 14px;
}