.sphere-wrapper {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
}

#bg {
  width: 100%;
  height: 100%;
  display: block;
}